services:
  db:
    image: postgres:15.11-alpine3.21
    container_name: postgres
    env_file:
      - local_db_env.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - common_network

  backend:
    build: ./ResumeCreatorBackend
    env_file:
      - backend_env.env
    container_name: appbackend
    ports:
      - "8080:8080"  # first port is the outside port
      - "8081:8081"
    depends_on:
      - db
    restart: on-failure
    networks:
      - common_network
      
  parser:
    build: ./ParsingService
    container_name: appparser
    ports:
      - "5000:5000" # first port is the outside port
    restart: on-failure
    networks:
      - common_network

  frontend:
    build: ./frontend
    container_name: appfrontend
    ports: 
      - "3000:80"
    depends_on:
      - backend
    restart: on-failure
    networks: 
      - common_network
    env_file:
      - .env

volumes:
  postgres_data:

networks:
  common_network:
    driver: bridge