@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  @layer base {
    h1 {
      @apply text-4xl font-bold text-white;
    }

    h2 {
      @apply text-3xl font-bold;
    }

    p {
      @apply mb-4 text-gray-200;
    }
  }
}

@layer components {
  .app {
    height: 100vh;
    /* position: relative; */
    display: flex;
  }

  .resume-form {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 20px;
    position: relative;
    width: 100vw;
    padding-right: 56vw;
    padding-bottom: 30px;
  }

  .user-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    margin-top: 20px;
  }

  /* .logo-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  fill: #d9d9d9;
  stroke: #808080;
  } */

  .user-icon {
    width: 54px;
    height: 54px;
    cursor: pointer;
    fill: #d9d9d9;
    stroke: #808080;
    transition: filter 0.3s ease;
  }

  .user-icon:hover {
    filter: drop-shadow(0 0 5px rgb(221, 221, 221, 0.3));
  }

  .header-container h1 {
    margin-bottom: 20px;
  }

  .header-container p {
    color: #d9d9d9;
    width: 80%;
    margin-top: -10px;
  }

  .header-container hr {
    width: 97%;
    margin-right: 40px;
  }

  .links-container,
  .preferences-container {
    margin-top: 50px;
    max-width: 40vw;
  }

  .links-container h2 {
    margin-bottom: 20px;
  }

  .link-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2%;
    margin-left: 2%;
  }

  .icon-text {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100px;
  }

  .links-container input {
    border: 1px solid #424242;
    background-color: #1e1e1e;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
  }

  .links-container input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #d9d9d9;
  }

  .preferences-container h2 {
    margin-bottom: 20px;
  }

  .preferences-container textarea {
    background-color: #424242;
    color: white;
    border-color: rgb(66, 66, 66);
    padding: 15px 20px;
    border-radius: 20px;
    margin-left: 2%;
    resize: none;
    outline: none;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .preferences-container textarea:focus {
    border-color: #d9d9d9;
    color: white;
    overflow: hidden;
    outline: "none";
  }

  .buttons-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
  }

  .buttons-container button {
    background-color: white;
    color: #1e1e1e;
    padding: 10px 15px;
    border-radius: 250px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    /* transition: all 0.3s ease; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .buttons-container button:hover {
    background-color: #e4e4e4;
    color: #333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    /* transform: translateY(-2px);  */
  }

  .buttons-container button:active {
    background-color: #eeeeee;
    /* transform: translateY(1px);  */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .buttons-container .reset-parameters {
    background-color: #424242;
    color: white;
  }

  .buttons-container .reset-parameters:hover {
    background-color: #333;
    color: #f4f4f4;
  }

  .buttons-container .reset-parameters:active {
    background-color: #555;
    color: #e0e0e0;
  }

  .mobile-show-preview {
    visibility: hidden;
    z-index: 50;
    display: none;
    position: absolute;
    background-color: #424242;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: #d9d9d9;
    width: 100%;
  }

  .resume-visualization {
    flex-grow: 1;
    visibility: visible;
    display: block;
    background-color: #424242;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 56vw;
    /* box-shadow: -5px 0px 20px -5px rgba(0, 0, 0, 0.5); */
  }

  .mobile-back-button {
    visibility: hidden;
    z-index: 50;
    display: none;
  }

  .download-buttons {
    padding-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    padding-right: 2vw;
  }

  .download-pdf,
  .download-formats {
    background-color: #d9d9d9;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: #1e1e1e;
    cursor: pointer;
    outline: none;
  }

  .download-pdf:hover,
  .download-formats:hover {
    background-color: #c0c0c0;
  }

  .download-pdf:active,
  .download-formats:active {
    background-color: #b0b0b0;
  }

  .resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    height: 80vh;
  }

  .resume-preview {
    background-color: white;
    width: 45%;
    aspect-ratio: 1 / 1.414;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    justify-content: center;
  }

  .resume-preview canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .page-switcher {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
  }

  .switch-left svg {
    transform: rotate(180deg);
  }

  .page-indicator {
    cursor: default;
    user-select: none;
  }
}

@layer utilities {
  .alert-container {
    position: fixed;
    top: -150px;
    left: 50%;
    z-index: 9999;
    width: 100%;
    transform: translateX(-50%) translateY(-100%);
    max-width: 600px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
  }

  .alert-container.show {
    top: 5px;
    opacity: 0.95;
    visibility: visible;
    transform: translateX(-50%) translateY(5px);
    pointer-events: auto;
  }

  .alert-container.hide {
    top: 150px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-100%);
    pointer-events: none;
  }
}