<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/2b41b0de-e38e-43bc-a4f1-c5c9ae83507b/resourceGroups/ResumeCreatorApp/providers/Microsoft.ContainerRegistry/registries/resumecreatorbackend</ResourceId>
    <ResourceName>resumecreatorbackend</ResourceName>
    <ResourceGroup>ResumeCreatorApp</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://resumecreatorbackend.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a828c6ea-aadb-4f1b-b6b8-b261a6f7852d</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>